*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

body{
    height: 100vh;
    background: rgb(89, 191, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
}

.counter{
    padding: 20px 40px;
    color: #fff;
    background: rgb(79, 94, 220);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
}

.counter h1{
    font-size: 18px;
    margin-bottom: 15px;
}